<script type="application/ld+json">
{ 
  "@context": "http://schema.org/",
  "@type": "BlogPosting",
  "@id": "{{ .Permalink }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Site.BaseURL }}"
  },
  "author": {
    "@type": "Person",
    "sameAs": "{{ .Site.Params.authorId }}",
    "name": "{{ .Site.Params.author }}"
  },
  "publisher": {
    "@type": "Person",
    "sameAs": "{{ .Site.Params.authorId }}",
    "name": "{{ .Site.Params.author }}"
  },
  "datePublished": "{{ .PublishDate }}",
  "dateModified": "{{ .Lastmod }}",
  "headline": "{{ .Title }}"
  {{- if .Param "featured" }}
  ,"image": "{{ .Param "featured" }}"
  {{ end -}}

}
</script>